!/log/.keep
**/.idea/
*.css
*.orig
.bundle/
.sass-cache/
.vagrant/
bower_components/
db/*.sqlite3
db/*.sqlite3-journal
log/*
node_modules/
public/assets/javascripts/
public/assets/stylesheets/
public/assets/**/*.css
public/assets/**/*.js
public/assets/**/*.gz
public/system/videos/
puppet/
tmp/
Vagrantfile