<div ng-controller="AdminCtrl">
    <%= @test %>
    <div class="site" id="content">
        <div class="menu">
        <ul>
            <li ui-sref="pages">Страницы</li>
            <li ui-sref="videos">Видео</li>
            <li ui-sref="options">Настройки</li>

        </ul>
        </div>
        <article class="list">
            <div class="bg"></div>
            <div ui-view="main" class="container">

                  <p>some admin shit</p>  

            </div>
        </article>
    </div>

    <script type="text/ng-template" id="home.html">
    </script> 

    <script type="text/ng-template" id="pages.html">
    </script> 

    <script type="text/ng-template" id="videos.html">
    </script> 

    <script type="text/ng-template" id="options.html">
    </script> 


</div>
