<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<%= csrf_meta_tags %>

<title>Effects</title>

<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>

<!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="assets/javascripts/selectivizr-min.js"></script>
<![endif]-->