<h1>Pages</h1>

<table class="table table-striped">
	<thead>
		<td>ID</td>
		<td>Title</td>
		<td>Slug</td>
		<td>Created At</td>
	</thead>
	<tbody>
		<tr ng-repeat="page in pages">
			<td ng-bind="page.id"></td>
			<td><div editable value="page.title"></div></td>
			<td><div editable value="page.slug"></div></td>
			<td ng-bind="page.created_at | date:'d MMM yyyy'"></td>
		</tr>
	</tbody>
</table>

<input ng-click="save('pages')" type="button" class="btn btn-default" value="Save">