<div ng-controller="VideosCtrl">
	<h1>Videos</h1>

	<table class="table table-striped">
		<thead>
			<td>ID</td>
			<td>Associated page</td>
			<td>Title</td>
			<td>URL to original</td>
			<td>Filename</td>
		</thead>
		<tbody>
			<tr ng-repeat="video in videos">
				<td ng-bind="video.id"></td>
				<td>
					<select 
						ng-model="video.page_id" 
						ng-options="page.id as page.title for page in pages">
					</select>
				</td>
				<td editable value="video.title"></td>
				<td editable value="video.url"></td>
				<td ng-bind="video.filename"></td>
			</tr>

		</tbody>
	</table>

	<input ng-click="save()" type="button" class="btn btn-default" value="Save">
</div>