/*
@include keyframes(fadeIn) {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@include animation('slide-down 5s 3');



*/
/* Main Page */
@media (max-width: 450px) {
  /* line 7, adaptive.scss */
  .overflow-hidden {
    overflow: hidden !important; }

  /* line 11, adaptive.scss */
  .list {
    padding-left: 0px;
    padding-top: 50px; }

  /* line 16, adaptive.scss */
  .menu {
    display: block;
    width: 100%;
    z-index: 900;
    position: relative;
    height: 100%; }

  /* line 24, adaptive.scss */
  .menu-container {
    position: fixed;
    z-index: 900;
    height: 100%;
    overflow: auto;
    width: 100%; }

  /* line 32, adaptive.scss */
  .menu-mobile {
    display: block;
    width: 50px;
    background: #282828;
    z-index: 900;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    cursor: pointer; }
  /* line 47, adaptive.scss */
  .menu-mobile .glyphicon {
    font-family: "Calibri"; }
  /* line 49, adaptive.scss */
  .menu-mobile .glyphicon:before {
    font-family: 'Glyphicons Halflings';
    margin-left: -30px;
    position: absolute; }
  /* line 56, adaptive.scss */
  .menu-mobile .close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 15px;
    cursor: pointer;
    color: white;
    z-index: 10009; }

  /* line 68, adaptive.scss */
  .login-block {
    display: none; } }
/* Admin Page */
@media screen and (max-width: 1200px) {
  /* line 80, adaptive.scss */
  .table td .editable {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis; } }
@media screen and (max-width: 1000px) {
  /* line 92, adaptive.scss */
  .table td .editable {
    max-width: 250px; } }
