@import 'libs/mixin.scss';
@import 'helpers.scss';

/* Main Page */

@media (max-width:768px) { 
  .no-scroll {    
    overflow: hidden !important;    
  }

  .list {
    padding-left: 0px;
    padding-top: 50px;
  }

  .menu {        
    width: 100%;
    z-index: 900;
    position: relative;   
    height: 100%; 
    
  }

  .menu-container {
    position: fixed;
    z-index: 900;
    height: 100%;
    overflow: auto;
    width: 100%;    
  }

  .menu-mobile {
    display: block;    
    width: 50px;    
    background: #282828;    
    z-index: 900;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;    
    font-size: 1.5em;
    cursor: pointer;

    .glyphicon {
      font-family: "Calibri";
      &:before {
        font-family: 'Glyphicons Halflings';
        margin-left: -30px;
        position: absolute;
      }
    }

    .close {
      position: absolute;                
      width: 20px;      
      height: 20px;
      right: 20px;
      top: 15px;            
      cursor: pointer;
      color: white;
      z-index: 10009;
    }
  }

  .login-block {
    display: none;
  }

}


/* Admin Page */

@media screen and (max-width:1200px) { 
  .table {
    td {      
      .editable {
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media screen and (max-width:1000px) { 
  .table {
    td {      
      .editable {
        max-width: 250px;
      }
    }
  }
}
