/* Admin */

@import 'libs/mixin.scss';
@import 'helpers.scss';

/* style for table */

.btn-default {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.table {
  width: 100%;
  .btn-default {   
    height: 20px !important; 
    line-height: 20px !important;
    padding: 0 !important;
  }

  thead td {
    padding-bottom: 5px !important;
  }
  tr {
    &:nth-child(2n+2) {      
      td {
        background: rgba(0,0,0,.03);      
      }
    }
    &:last-child {
      td {
        background: none !important;
      }
    }
  }
  td {
    width: 15%;          
    vertical-align: middle;
    padding-left: 10px;
    &:nth-child(2) {
      width: auto;
    }
    &:nth-child(1) {
      width: 5%;
    }        
    .editable {
      padding: 10px 0px 10px 0px;
      cursor: pointer;
    }
    input {
      width: 100%;
      padding-left: 10px;
      margin-left: -12px;      
      height: 20px;
      line-height: 20px;
      padding-right: 20px;
    }
  }
}


/* table for video page */

#page-videos {    
  .table {
    td {      
      &:nth-child(3) {
        width: auto;
      }
      &:nth-child(2) {
        width: 15%;
      }    
    }    
  }
}

/* menu */
.menu {
  li.active {
    color: #b7c5d8;
  }
}

/* login block */

.login-block {
  border-top: 1px solid gray;
  padding: 20px 20px 0px 20px; 
  span { color: white; }
}

/* login */

.admin-login {
  text-align: center;
  form {
    display: inline-block;
    .input-label {
      text-align: left;
      display: block;
    }
  }
  h2 {
    font-size: 3em;
    margin-top: 10px;
    &:after {
      content: "";
      display: block;
      width: 100%;
      margin: 0 auto;
      border: 1px solid gray;
      margin-top: 10px;
    }
  }
  input {
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .remember-me {
    margin-top: -10px;        
    cursor: pointer;      
    display: inline-block;   
    vertical-align: top;      
    
    input[type="checkbox"] {
      cursor: pointer;
    }
    label {
      cursor: pointer;            
      display: inline-block;
      vertical-align: top;
      margin-top: 2px;      
    }
  }

  input[type="text"],input[type="password"] {
    padding-left: 10px;
    height: 30px;
    width: 200px;
  }

  input[type="submit"] {
    width: 100px;  
    background:transparent url('image.png') left top no-repeat;    
    @include transition(0.2s);
    @include brightness(1.1);
    border: none;
    height: 35px;
    width: 200px;
    color: white;
    font-size: 1.15em;
    background: #7c98bc;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translateZ(o);        
  }

}