<!DOCTYPE html>
<html ng-app="effects">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- wp_head -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/preload.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/libs.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css?v=10">

    <script type="text/javascript" src="js/libs.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="js/main.js?v=7"></script>
    <script type="text/javascript" src="js/data.js"></script>


    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <![endif]-->

    <title></title>

  

</head>

<body ng-controller="MainCtrl" ng-class="{loaded: loaded}">

  <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>

    <div class="site" id="content">
        <div class="menu">
        <ul>
            <li ng-click="changePage('all')">
              <span>Все</span>
              Все
            </li>

            <li ng-repeat="item in data" ng-click="changePage(item.page)">
                <span>{{ item.name }}</span>
                {{ item.name }}
            </li>

        </ul>
        </div>
        <article class="list">
            <div class="bg"></div>
            <div class="container">
                <div class="block-list">

                  <div ng-show="isPageSelected(item.page)" class="block" ng-repeat="item in data">
                      <div class="row">
                          <div class="col-item" ng-repeat="element in item.items">
                              <a href="{{ element.link }}" target=_blank>
                                  <div class="content">
                                      <figure data-effeckt-type="quarter-fall-in" class="effeckt-caption">
                                          <figcaption>
                                              <div class="effeckt-figcaption-wrap">{{ element.title }}</div>
                                          </figcaption>
                                          <video-webm video="element.video" 
                                                      play-on-page="item.page"
                                                      current-page="page"></video-webm>
                                      </figure>
                                  </div>
                              </a>
                          </div>

                      </div>
                  </div>

   
                </div>
            </div>
        </article>
    </div>

</body>
</html>