<article class="site" id="content">
<div ui-view='home'></div>

  <!-- menu -->
  <div class="menu-container">
    <div class="menu-mobile">
      <div class="menu-header" ng-click="menuMobileVisible = !menuMobileVisible"><span class="glyphicon glyphicon-th">Меню</span></div>
      <div ng-click="menuMobileVisible = false" class="close glyphicon glyphicon-remove" ng-show="menuMobileVisible"></div>
    </div> 

    <div ng-class="{ 'menu-visible-mobile':menuMobileVisible }" class="menu">

      <div class="menu-top">
        <!-- login link -->
        <section class="login-block">
        <a ui-sref="login">Войти</a>
<!--           <span>Здравствуйте, admin</span>
          <a href="#">Выйти</a> -->
        </section>   
             
        <!-- tags -->
        <div class="tags-container">          
            <label class="tags-title">Tags: </label>
            <div class="tag" ng-repeat="tag in tags" ng-class="{checked: tag.checked}" > 
              <label>
                <input type="checkbox" ng-model="tag.checked">
                <span class="icon"></span>
                <span>{{ tag.slug }}</span>                  
              </label>                                
            </div>          
        </div>
      </div>

      <nav>
        <label>Category:</label>          
        <ul>
          <li ng-repeat="cat in categories" ng-class="{active: cat.id === selectedCategory.clicked_id}">
            <a ui-sref="home.category({category: cat.slug})" ng-click="menuMobileVisible = false">
              <span>{{ cat.name }}</span>
              {{ cat.name }}
            </a>            
          </li>
        </ul>
      </nav>
      
      <!-- send form -->
      <section class="form-container" ng-controller="FormCtrl" ng-click="$event.stopPropagation();">
        <div class="send-video" ng-show="!form.display">
          <div class="button-show-tooltip">
            Отправить ссылку на эффект
          </div>
          <div class="glyphicon glyphicon-plus button-show-form" ng-click="form.display = true"></div>
        </div>
        <div class="form fx-fade-normal fx-speed-250" ng-show="form.display">
          <form action="" name="URLForm">              
            <div class="close glyphicon glyphicon-remove" ng-click="form.display = false"></div>
            <label>Отправить ссылку на эффект</label>
            <input type="text" ng-model="url" required value="" />
            <input type="submit" value="Отправить" ng-submit="sendForm()" ng-disabled="URLForm.$invalid"/>
          </form>
        </div>
      </section>

    </div>
  </div>

  <main class="list" role="main">
      <div class="bg"></div>    

      <div class="container">
          <div class="block-list">

            <section class="block">
              <div class="row">

                <!-- videos -->
                <div ng-repeat="video in videos | taxonomies:selectedCategory:tags" class="col-item">
                  <a href="{{ video.url }}" target=_blank>
                    <div class="content">
                      <figure data-effeckt-type="quarter-fall-in" class="effeckt-caption">
                        <figcaption>
                          <div class="effeckt-figcaption-wrap">{{ video.title }}</div>
                        </figcaption>
                        <video-webm url="video.file_url"></video-webm>
                      </figure>
                    </div>
                  </a>
                </div>
                
                <div ng-show="(videos | taxonomies:selectedCategory:tags).length <= 0">
                  <p>No content here yet.</p>
                </div>
                
              </div>
            </section>
          </div>

      </div>
  </main>
</article>