<div class="admin-login">
  <h2>Log in</h2>

  <form ng-submit="submitLogin(loginForm)">
    <div  class="field">
      <label class="input-label" for="user_username">Username</label>
      <input ng-model="loginForm.email" type="text" id="user_username" />
    </div>

    <div class="field">
      <label class="input-label" for="user_password">Password</label>
      <input ng-model="loginForm.password" type="password" id="user_password" />
    </div>

      <div class="field remember-me">
        <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
        <label for="user_remember_me">Remember me</label>
      </div>

    <div class="actions">
      <input type="submit" name="commit" value="Log in" />
    </div>
  </form>
</div>
