<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<%= csrf_meta_tags %>
	
	<title>Effects</title>

	<link rel="stylesheet" type="text/css" media="screen" href="assets/stylesheets/application.css">

	<script type="text/javascript" src="assets/javascripts/libs.js"></script>
	<script type="text/javascript" src="assets/javascripts/application.js"></script>
	
	<!--[if (gte IE 6)&(lte IE 8)]>
	<script type="text/javascript" src="assets/javascripts/selectivizr-min.js"></script>
	<![endif]-->
</head>


<%= yield %>


</html>